{{#each this}}
  <h1 class='country-name'>{{name}}</h1>
  <div class='country-desc'>
    <ul class='desc-list'>
      <li class='desc-item'><span class='desc-text'>Capital:</span> {{capital}}</li>
      <li class='desc-item'><span class='desc-text'>Population:</span> {{population}}</li>
      <li class='desc-item'><span class='desc-text'>Languages:</span><ul
          class='language-list'
        >{{#each languages}}
            <li class='language'>{{name}}</li>
          {{/each}}</ul>
      </li>
    </ul>
    <img src='{{flag}}' alt='Country flag' width='300' height='150' />
  </div>
{{/each}}